<div class="row">
    <div class="col-md-6" *ngFor="let usersounds of JoinSoundsUsers" style="margin-top: 40px;">
        
        <h3 style="margin-top: 20px">{{ usersounds.username }}</h3>
        
        <div *ngIf="usersounds.sounds.length > 0">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Label</th>
                <th>Link</th>
                <th>Options</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sound of usersounds.sounds">
                <td><p>{{ sound.name }}</p></td>
                <td><a href="{{sound.link}}" target="_blank">{{ sound.link }}</a></td>
                <td><div class="mx-auto" style="width: 30px;"><i class="bi bi-trash3"></i></div></td>
              </tr>
            </tbody>
          </table>
        </div>
            <div *ngFor="let item of NewArray; let i = index;">
                <div *ngIf="item.value.submitUserID == usersounds.userid">
                        <form [formGroup]="item" (ngSubmit)="onClickNewSound()" class="row">
                            <input readonly type="hidden" name="userid" class="userid" formControlName="submitUserID" value="{{usersounds.userid}}"/>
                            <div class="col-auto">
                              <label for="newitemname" class="visually-hidden">Label</label>
                              <input type="text" class="form-control" placeholder="Label" formControlName="submitName">
                            </div>
                            <div class="col-auto">
                              <label for="newitemlink" class="visually-hidden">Link</label>
                              <input type="text" class="form-control" placeholder="Link" formControlName="submitLink">
                            </div>
                            <div class="col-auto">
                              <button type="submit" class="btn btn-primary mb-3">Submit</button>
                            </div>
                          </form>
                </div>
            </div>
        <!--
        <form [formGroup]="newSoundForm" (ngSubmit)="onClickNewSound()" class="row">
            
            <input readonly type="hidden" name="userid" class="userid" formControlName="submitUserID" value="{{usersounds.userid}}"/>
            <div class="col-auto">
              <label for="newitemname" class="visually-hidden">Label</label>
              <input type="text" class="form-control" id="newitemname" placeholder="Label" formControlName="submitName">
            </div>
            <div class="col-auto">
              <label for="newitemlink" class="visually-hidden">Link</label>
              <input type="text" class="form-control" id="newitemlink" placeholder="Link" formControlName="submitLink">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary mb-3" id="submitnewsound">Submit</button>
            </div>
          </form>
          -->
    </div>

</div>