/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.trash-icon {
    color: #cc0000;
    padding: 8px 8px 8px 8px;
}

.trash-icon-clicked {
    color: #5f5f5f;
    pointer-events: none;
    padding: 8px 8px 8px 8px;
    animation: spin 3s infinite;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.trash-icon:hover {
    cursor:pointer;
    color: #ff8080;
}

.play-icon {
    color: #002fff;
    padding: 8px 8px 8px 8px;
}

.play-icon:hover {
    color: #617df7;
    cursor: pointer;
}

.icon-container-1 {
    display:inline-block !important;
    width: 30px;
}
